spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8191
          predicates:
            - Path=/user/**
        - id: video-service
          uri: http://video-service:8190
          predicates:
            - Path=/video/**
      discovery:
        locator:
          lower-case-service-id: true
server:
  port: 8762
  #  ssl:
  #    key-store: classpath:keystore.p12
  #    key-store-password: qwerty
  #    key-alias: test_key
  #    key-store-type: PKCS12
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: false
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/